body {
    background-color: khaki;
}
h1 {
    text-align: center;
}
#answers {
    text-align: center;
}
#clickys {
    text-align: center;
}
h2 {
    text-align: center;
}
.display {
    text-align: center;
}